---
import Title from "../ui/Title.astro";
---

<section
  id="contact"
  class="pt-20 text-slate-900 dark:text-slate-100 p-4 flex flex-col gap-16 max-w-7xl mx-auto"
>
  <Title title="Contacto" />
</section>
