---
import MainLayout from "../layouts/MainLayout.astro";

import {
  Navbar,
  Home,
  About,
  Projects,
  Contact,
  Experience,
  Footer,
} from "../components/layout";
---

<MainLayout
  title="Portfolio de Miguel Decode - Desarollador web"
  description="Contrata a Miguel Decode para crear tu aplicación web o móvil. Desarollador Web y entusiasta tecnológico. Especializado en crear aplicaciones únicas."
>
  <main
    class="max-w-[1280px] mx-auto dark:bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] bg-[radial-gradient(#000000_1px,transparent_1px)] [background-size:16px_16px] px-12"
  >
    <Navbar />

    <Home />

    <About />

    <Experience />

    <Projects />

    <Contact />

    <Footer />
  </main>
</MainLayout>
