---
import { work } from "@cv";
import ExperienceItem from "./ExperienceItem.astro";
---

<section
  id="experience"
  class="pt-20 mx-auto max-w-7xl text-slate-900 dark:text-slate-100 px-8 my-24"
>
  <h2 class="text-6xl text-center font-bold mb-8">Experiencia</h2>

  <div
    class="space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent"
  >
    {work.map((work) => <ExperienceItem {...work} />)}
  </div>
</section>
