<section
  id="home"
  class="snap-center h-screen max-w-screen overflow-hidden flex flex-col justify-center items-center"
>
  <h1>Hey, soy Miguel Decode</h1>
  <h2>
    Desarollador Web y estudiante perpetuo. De Galicia, España. Especialido en
    crear aplicaciones que den soluciones.
  </h2>
</section>
