<section id="home" class="pt-20">
  <h1>Hey, soy Miguel Decode</h1>
  <h2>
    Desarollador Web y estudiante perpetuo. De Galicia, España. Especialido en
    crear aplicaciones que den soluciones.
  </h2>
</section>
