<nav id="main-nav" class=" hidden md:block">
  <ul
    class="md:flex flex-col md:flex-row [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-semibold"
  >
    <li><a href="#about">Sobre Mi</a></li>
    <li><a href="#projects">Proyectos</a></li>
    <li><a href="#contact">Contacto</a></li>
    <li><a href="#">Blog</a></li>
  </ul>
</nav>
