---
import { projects } from "@cv";
import ProjectCard from "./ProjectCard.astro";
---

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-32 mt-12"
>
  {projects.map((project) => <ProjectCard {...project} />)}
</div>
