---
import ProjectsContainer from "./ProjectsContainer.astro";
import TechScroller from "./TechScroller.astro";
---

<section
  id="projects"
  class="pt-20 text-slate-900 dark:text-slate-100 p-4 flex flex-col gap-16 max-w-7xl mx-auto"
>
  <h2 class="text-6xl text-center font-bold">Projectos</h2>

  <TechScroller />

  <ProjectsContainer />
</section>
